<html>
<head>
</head>
<body>
    <h1>Authorization result</h1>

    {% if error is not null and foo is not empty %}
        Error: {{ userName }}
    {% endif %}

    {% if userName is defined %}
        Username: {{ userName }}
    {% else %}
        Not authorized
    {% endif %}
</body>
</html>